<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>E-Learning在线学习</title>
		<link rel="Shortcut Icon" href="/imgSource/logo.ico" type="image/x-icon">
		<link rel="stylesheet" href="http://localhost:8080/eLearning/static/css/index.css" />
		<link rel="stylesheet" type="http://localhost:8080/eLearning/static/text/css" media="screen" href="https://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="http://localhost:8080/eLearning/static/css/videoStudy.css" />
		<script type="text/javascript" src="http://localhost:8080/eLearning/static/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="http://localhost:8080/eLearning/static/js/videoStudy.js"></script>
		<style type="text/css">
			.cat_wrap .cat_title {
				background: url(/imgSource/head.png) no-repeat;
			}
		</style>
	</head>

	<body>

		<div>

			<div style="position: relative;">
				<img src="/imgSource/logo.jpg" style="width: 180px;height: 100px;display: inline-block;" />
				<img src="/imgSource/slogan.jpg" style="display: inline-block;width: 70%;" />
				<div>
					<a href="userInfor.html" style="font-size: 16px;color: #DC143C;text-decoration: none;position: absolute;right: 5%;top: 30%;">欢迎您,HCC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人中心</a>
					<img src="/imgSource/user.png" style="width: 35px;position: absolute;right: 2%;top: 22%;" />
				</div>
				<div id="search-helper" style="display: none;position: absolute;right: 82px;top: 103px;z-index: 10000;border: 0.5px solid #CD0000;">
					<p style="color: #CD0000;">&nbsp;&nbsp;------大家都在搜------</p>
					<p style="color: gray;">&nbsp;人工智能</p>
					<p style="color: gray;">&nbsp;前端开发</p>
					<p style="color: gray;">&nbsp;Java开发</p>
					<p style="color: gray;">&nbsp;大数据</p>
					<p style="color: gray;">&nbsp;金融管理</p>
					<p style="color: gray;">&nbsp;投资理财</p>
					<p style="color: gray;">&nbsp;微信小程序</p>
					<p style="color: gray;">&nbsp;UI设计</p>
					<p style="color: gray;">&nbsp;云计算</p><br />
					<a style="color: #CD0000;">&nbsp;更多热搜>>></a>
				</div>
				<div style="position: absolute;right: 30px;top: 70px;">
					<span style="float: left;"><input type="text" id="txtSearch" placeholder="搜索你感兴趣的内容吧" style="border: 2px solid #CD0000;width: 180px;height: 30px;"/></span>
					<span style="float: left;">
						<button type="submit" style="border: 2px solid #CD0000;background-color: #CD0000; height: 34px;width: 50px;">
							<i class="icon ion-log-in" style="color: white;font-size: 25px;"></i>
						</button></span>
				</div>
			</div>

			<div id="nav">
				<ul class="w">
					<li style="margin-left: 1%;padding-right: 20px;">
						<a href="loginSuccessfully.html">首&nbsp;&nbsp;页</a>
					</li>
					<li>
						<a href="#">&nbsp;&nbsp;知识库</a>
					</li>
					<li>
						<a href="online.html">在线直播</a>
					</li>
					<li class="active">
						<a href="videoStudy.html">视频学习</a>
					</li>
					<li>
						<a href="interactionCenter.html">互动中心</a>
					</li>
					<li>
						<a href="resourceManagement.html">资源管理</a>
					</li>
					<li>
						<a href="profession.html">职业路径</a>
					</li>
				</ul>
			</div>
			
			<div style="width: 100%;height: 1100px;background-color: floralwhite;position: relative;">
				<p style="color: dimgray;font-size: 22px;position: absolute;top: 2%;left: 15%;">课程列表</p>
				<div style="width: 1100px;height: 100px;position: absolute;top: 7%;left: 15%;border: 1px solid lightgray;border-radius: 5px;background-color: white;">
					<p style="position: absolute;top: 20%;left: 2%; color: gray;">所有分类：</p>
					<div style="width: 1100px; border-top:1px dashed lightgray;position: absolute;top: 50%;"></div>
						<p style="position: absolute;bottom: 15%;left: 2%;color: gray;">分类：</p>
						<div style="position: absolute;bottom: 15%;left: 10%;width: 100%;">
							<a style="color: #DC143C;">全部</a>
							<a style="margin-left: 15px;">python</a>
							<a style="margin-left: 15px;">大数据</a>
							<a style="margin-left: 15px;">Linux</a>
							<a style="margin-left: 15px;">java</a>
							<a style="margin-left: 15px;">C++</a>
							<a style="margin-left: 15px;">C#</a>
							<a style="margin-left: 15px;">H5前端</a>
							<a style="margin-left: 15px;">数据库</a>
							<a style="margin-left: 15px;">数据结构</a>
							<a style="margin-left: 15px;">Android</a>
							<a style="margin-left: 15px;">php</a>
							<a style="margin-left: 15px;">TCP/IP</a>
							<a style="margin-left: 15px;">操作系统</a>
						</div> 
				</div>
				
				<div style="position: absolute;left: 15%;top: 20%;" id="tab">
					<div style="float: left; width: 70px;height: 50px;position: relative;">
						<a style="color: dimgrey;font-size: 18px;position: absolute;top: 25%;left: 25%;">最新</a>
					</div>
					<div  style="float: left; width: 70px;height: 50px;margin-left: 10px;position: relative;">
						<a style="color: dimgrey;font-size: 18px;position: absolute;top: 25%;left: 25%;">最热</a>
					</div>
					<div  style="float: left; width: 70px;height: 50px;margin-left: 10px;position: relative;" class="active">
						<a style="color: white;font-size: 18px;position: absolute;top: 25%;left: 25%;">推荐</a>
					</div>
				</div>
				
				<div id="study">
				<div style="display: block;">
				<div style="position: absolute;left: 15%;top: 30%;" >
						<div style="float: left; position: absolute;left: 20px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v01.png" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">Java 基础</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 290px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v02.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">JDBC</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 560px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v03.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">Android核心技术</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 830px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v04.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">HTML CSS基础</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
					</div>
					
					<div style="position: absolute;left: 15%;top: 52%;" >
						<div style="float: left; position: absolute;left: 20px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v05.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">自定义控件</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 290px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v06.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">Java8新特性</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 560px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v07.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">JavaScript基础</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 830px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v08.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">JNI/NDK</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
					</div>
					
					<div style="position: absolute;left: 15%;top: 74%;" >
						<div style="float: left; position: absolute;left: 20px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v09.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">JUC</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 290px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v10.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">JavaScript高级</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 560px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v11.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">NIO</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 830px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v12.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">Jquery</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
					</div>
				</div>
				
				<div style="display: none;">
				<div style="position: absolute;left: 15%;top: 30%;" >
						<div style="float: left; position: absolute;left: 20px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v13.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">Android与H5互调</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 290px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v14.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">JavaWeb从入门到精通</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 560px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v15.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">JavaScript DOM</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 830px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v16.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">第三方框架源码分析</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
					</div>
					
					<div style="position: absolute;left: 15%;top: 52%;" >
						<div style="float: left; position: absolute;left: 20px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v17.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">JavaWeb案例</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 290px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v18.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">Struts2</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 560px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v19.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">Ajax</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 830px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v20.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">多渠道打包</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
					</div>
					
					<div style="position: absolute;left: 15%;top: 74%;" >
						<div style="float: left; position: absolute;left: 20px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v21.png" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">NodeJS核心技术</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 290px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v22.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">手机影音</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 560px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v23.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">Hibernate</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 830px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v24.png" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">MongoDB夯实基础</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
					</div>
				</div>
				
				<div style="display: none;">
				<div style="position: absolute;left: 15%;top: 30%;" >
						<div style="float: left; position: absolute;left: 20px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v25.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">硅谷p2p金融</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 290px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v26.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">Spring4.0</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 560px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v27.png" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">Zepto快速精通</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 830px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v28.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">硅谷新闻</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
					</div>
					
					<div style="position: absolute;left: 15%;top: 52%;" >
						<div style="float: left; position: absolute;left: 20px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v29.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">SSHCRUD</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 290px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v30.png" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">AngularJS入门到应用</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 560px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v31.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">硅谷商城</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 830px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v32.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">SpringMVC</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
					</div>
					
					<div style="position: absolute;left: 15%;top: 74%;" >
						<div style="float: left; position: absolute;left: 20px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v33.png" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">ECMAScript精讲</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 290px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v34.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">硅谷社交</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 560px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v35.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">JPA</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 830px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v36.png" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">JS模块化规范解读</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
					</div>
				</div>
				
				<div style="display: none;">
				<div style="position: absolute;left: 15%;top: 30%;" >
						<div style="float: left; position: absolute;left: 20px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v37.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">软件框架搭建</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 290px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v38.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">Spring Data</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 560px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v39.png" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">1小时玩转webpack</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
						<div style="float: left; position: absolute;left: 830px;width: 250px;height: 200px;border: 1px solid lightgray;background-color: white;">
							<div>
								<img src="/imgSource/v40.jpg" style="width: 250px;"/>
								<p style="position: absolute;left: 5%;color: dimgray;font-size: 18px;">OKHttp</p>
								<p style="position: absolute;right: 10%;bottom: 5%;color: #CD0000;">免费</p>
							</div>
						</div>
					</div>
				</div>
				
			</div>
				
					<div>
						<ul class="pagination">
							<li>
								<a href="#">«</a>
							</li>
							<li>
								<a class="active" href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">»</a>
							</li>
						</ul>
					</div>
				
			</div>
			
			<div style="position: relative;height: 100px;width: auto;background-color: whitesmoke;">
				<p style="position: absolute;left: 15%;top: 40%; color: gray;float: left;">
					<span>企业合作</span>
					<span style="margin-left: 20px;">人才招聘</span>
					<span style="margin-left: 20px;">联系我们</span>
					<span style="margin-left: 20px;">常见问题</span>
					<span style="margin-left: 20px;">意见反馈</span>
					<span style="margin-left: 20px;">友情链接</span>
					<span style="margin-left: 20px;">给个好评</span>
				</p>
				<div style="position: absolute;right: 15%;top: 20%;float: left;">
					<img src="/imgSource/wx.png" style="width: 40px;margin-right: 30px;" />
					<img src="/imgSource/wb.png" style="width: 40px;" />
				</div>
				<div style="position: absolute;right: 15%;top: 58%;float: left;">
					<span style="font-size: 10px;color: gray;margin-right: 25px;">官方公众号</span>
					<span style="font-size: 10px;color: gray;">官方微博</span>
				</div>
			</div>
		</div>
			
			
		</div>
	</body>

</html>